body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategray;
    margin: 0;
    padding: 0;
}

#container {
    border: 2px solid slategray;
    width: 1000px;
    background-color: white;
    margin: 0 auto;
}

#header {
    background-color: crimson;
    color: white;
    height: 100px;
}

#header h1{
    padding: 30px 0 0 20px;
    text-align: center;
}

#menu {
    background-color: lightseagreen;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
}

#menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    background-color: crimson;
    color: white;
}

#content {
    width: 800px;
    min-height: 500px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.paragraphs {
    color: brown;
    font-size: large;
}

#sidebar {
    background-color: lightblue;
    width: 200px;
    height: 500px;
    float: right;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

#footer {
    background-color: lightseagreen;
    padding: 5px 10px;
    text-align: center;
    clear: both;
}
